@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply font-bold py-2 px-4 rounded transition-colors duration-200;
    }

    .btn-primary {
        @apply bg-primary-500 text-white hover:bg-primary-600;
    }

    .btn-secondary {
        @apply bg-secondary-500 text-white hover:bg-secondary-600;
    }

    .btn-outline {
        @apply bg-transparent border-2 border-primary-500 text-primary-500 hover:bg-primary-500 hover:text-white;
    }

    

    .nav-bar {
        @apply flex p-2 gap-2 border-b-4 bg-transparent;
    }

    .nav-item {
        @apply h-8 w-8 border text-gray-600 border-gray-400 rounded transition-colors duration-200;
    }

    .dropdown-menu {
        @apply border border-gray-200 dark:border-gray-700;
    }

    .dropdown-item {
        @apply text-gray-700 dark:text-gray-200 no-underline;
    }
}